body {
  .content {
    font-family: Interop, sans-serif;

    .cm-s-obsidian {
      h3,
      .markdown-rendered h3,
      .HyperMD-header-3,
      .HyperMD-list-line .cm-header-3 {
        margin-top: 1.5em;
        margin-bottom: 2em;
      }
    }
  }

  /***
    ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
 ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
