body {
  .content {
    font-family: Interop, sans-serif;
  }

  .markdown-rendered h3 {
    margin-top: 1.5em;
  }

  h3 {
    margin-block-start: 1.5em;
  }
  /***
    ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
 ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
